body {
    font-family: Arial, sans-serif;
    background: #f5f6fa;
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.container {
    background: white;
    padding: 40px;
    border-radius: 12px;
    width: 750px;
    box-shadow: 0 8px 25px rgba(0,0,0,0.08);
}

h1 {
    text-align: center;
    margin-bottom: 25px;
}

/* ROLE SELECT */
.section {
    margin-bottom: 25px;
}

/* FLEX LAYOUT */
.auth-wrapper {
    display: flex;
    align-items: stretch; /* makes both sides equal height */
    gap: 30px; /* spacing between columns */
}

/* BOTH SIDES */
.auth-box {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

/* HEADINGS */
.auth-box h2 {
    margin-bottom: 15px;
}

/* DIVIDER */
.auth-box.left {
    border-right: 1px solid #e0e0e0;
    padding-right: 50px;
    /*padding-left: 10px;*/
}

.auth-box.right {
    padding-left: 25px;
}

/* INPUTS */
input, select {
    width: 100%;
    padding: 12px;
    margin-bottom: 12px;
    border-radius: 6px;
    border: 1px solid #ccc;
    font-size: 14px;
}

input:focus {
    outline: none;
    border-color: #4CAF50;
    box-shadow: 0 0 0 2px rgba(76,175,80,0.1);
}

/* BUTTON */
button {
    width: 100%;
    padding: 12px;
    margin-top: 5px;
    background: #4CAF50;
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 15px;
    cursor: pointer;
}

button:hover {
    background: #43a047;
}

/* RESPONSE TEXT */
#response {
    text-align: center;
    margin-top: 20px;
    font-size: 14px;
}