GEMINI_API_KEY=gemini_api_should_be_put_here
DB_NAME=postgresql_database_name
DB_USER=postgresql_database_username
DB_PASSWORD=postgresql_database_password


SPRING_DATASOURCE_USERNAME=your_spring_datasource_username
SPRING_DATASOURCE_PASSWORD=your_spring_datasource_password